@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}
.head1 {
    color: white;
    font-size: 0.75em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    height: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mobile-menu {
    display: none;
    cursor: pointer;
    background-color: #23232e;
    padding: 8px;
}
.mobile-menu div {
    width: 30px;
    height: 2px;
    background: #ffffff;
    transition: 0.4s;
}
.mobile-menu div:not(:last-child) {
    margin-bottom: 8px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15em;
    list-style: none;
    font-weight: 500;
    font-size: 17px;
    background-color: #23232e;
    color: white;
    height: 2em;
}
.menu2 {
    list-style: none;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: inherit;
}
.section {
    background-color: rgb(0, 0, 0);
}
.container {
    max-width: 50vw;
    margin: 0 auto;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
}
.section:not(:last-child) {
    border-bottom: 6px solid #23232e;
}
.grid h1 {
    font-size: 65px;
    color: white;
}
.grid p {
    font-size: 24px;
    color: white;
}
.alto {
    width: 50%;
}
.tenor {
    width: 65%;
}
.soprano {
    width: 18%;
    margin-left: 200px;
}
.sax-tenor .grid > div:first-child {
    order: 2;
}
@media (max-width: 1360px) {
    .container {
        max-width: 50vw;
        margin: 0 auto;
    }
    .grid h1 {
        font-size: 40px;
    }
    .grid p {
        font-size: 18px;
    }
    .alto {
        width: 40%;
    }
    .tenor {
        width: 55%;
    }
    .soprano {
        width: 14%;
        margin-left: 200px;
    }
}
@media (max-width: 1100px) {
    .menu {
        display: flex;
        gap: 90px;
    }
    .container {
        max-width: 50vw;
        margin: 0 auto;
    }
    .grid h1 {
        font-size: 30px;
    }
    .grid p {
        font-size: 14px;
    }
    .alto {
        width: 30%;
    }
    .tenor {
        width: 40%;
    }
    .soprano {
        width: 12%;
        margin-left: 150px;
    }
}
@media (max-width: 900px) {
    .menu {
        gap: 50px;
    }
}
@media (max-width: 700px) {
    body {
        overflow-x: hidden;
    }
    .mobile-menu {
        display: block;
    }
    .menu {
        display: none;
        position: absolute;
        left: 0;
        width: 50vw;
        height: 95vh;
        background-color: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transform: translateX(-100%);
        transition: transform 0.5s ease-in;
    }
    .menu.active {
        display: flex;
        transform: translateX(0);
    }
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    .mobile-menu.active .line2 {
        opacity: 0;
    }
    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .sax-tenor .grid > div:first-child {
        order: 0;
    }

    /* .container {
        max-width: 70vw;
        margin: 0 auto;
    }*/
    .grid h1 {
        font-size: 40px;
    }
    .grid p {
        font-size: 25px;
    }
    .alto {
        width: 10%;
    }
    /*.tenor {
        width: 60%;
    }
    .soprano {
        width: 20%;
        margin-left: 50px;
    } */
}
@media (max-width: 400px) {
    .grid h1 {
        font-size: 25px;
    }
    .grid p {
        font-size: 15px;
    }
    .alto {
        width: 35%;
    }
    .tenor {
        width: 40%;
    }
    .soprano {
        width: 13%;
    }
}